<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title><%=title%></title>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <!-- Bootstrap core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="css/style.css" rel="stylesheet">

    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
    <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="js/wow.min.js"></script>
    <script>new WOW().init();</script>

    <link href="https://fonts.googleapis.com/css?family=Comfortaa&display=swap" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="style.css">
    <style>
        button,h4,span,option,h3,p,input,a {Font-family: 'Comfortaa', cursive;}

    </style>
    <style>
        .a{color: grey}
        td{color: grey}
        th{color: grey}
    </style>
</head>
<body>

<script type="text/javascript">
    /**
     *   I don't recommend using this plugin on large tables, I just wrote it to make the demo useable. It will work fine for smaller tables
     *   but will likely encounter performance issues on larger tables.
     *
     *		<input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
     *		$(input-element).filterTable()
     *
     *	The important attributes are 'data-action="filter"' and 'data-filters="#table-selector"'
     */
    (function(){
        'use strict';
        var $ = jQuery;
        $.fn.extend({
            filterTable: function(){
                return this.each(function(){
                    $(this).on('keyup', function(e){
                        $('.filterTable_no_results').remove();
                        var $this = $(this),
                            search = $this.val().toLowerCase(),
                            target = $this.attr('data-filters'),
                            $target = $(target),
                            $rows = $target.find('tbody tr');

                        if(search == '') {
                            $rows.show();
                        } else {
                            $rows.each(function(){
                                var $this = $(this);
                                $this.text().toLowerCase().indexOf(search) === -1 ? $this.hide() : $this.show();
                            })
                            if($target.find('tbody tr:visible').size() === 0) {
                                var col_count = $target.find('tr').first().find('td').size();
                                var no_results = $('<tr class="filterTable_no_results"><td colspan="'+col_count+'">No results found</td></tr>')
                                $target.find('tbody').append(no_results);
                            }
                        }
                    });
                });
            }
        });
        $('[data-action="filter"]').filterTable();
    })(jQuery);

    $(function(){
        // attach table filter plugin to inputs
        $('[data-action="filter"]').filterTable();

        $('.container').on('click', '.panel-heading span.filter', function(e){
            var $this = $(this),
                $panel = $this.parents('.panel');

            $panel.find('.panel-body').slideToggle();
            if($this.css('display') != 'none') {
                $panel.find('.panel-body input').focus();
            }
        });
        $('[data-toggle="tooltip"]').tooltip();
    })


</script>
<header>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
        <a class="navbar-brand" href="#"><strong class="sign__word">GkataloG</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Главная <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="Action.html">Экшн</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Приключения</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">РПГ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Симуляторы</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Инди</a>
                <li class="nav-item">
                    <a class="nav-link" href="#">Стратегии</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">ММО</a>
                </li>


            </ul>


            <ul class="navbar-nav ml-auto nav-flex-icons">
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fas fa-headset" data-toggle="modal" data-target="#contact"></i>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link waves-effect waves-light">
                        <i class="fas fa-luggage-cart" data-toggle="modal" data-target="#modalCart"></i>
                    </a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-333" data-toggle="dropdown"
                       aria-haspopup="true" aria-expanded="false">
                        <i class="fas fa-user"></i>
                    </a>
                    <div class="dropdown-menu dropdown-menu-right dropdown-default"
                         aria-labelledby="navbarDropdownMenuLink-333">
                        <a class="dropdown-item" href="#">Action</a>
                        <a class="dropdown-item" href="#">Another action</a>
                        <a class="dropdown-item" href="#">Something else here</a>
                    </div>
                </li>
            </ul>

        </div>
        <form class="form-inline ml-auto">
            <div class="md-form my-0">
                <input class="form-control mr-sm-2" method = "post" action="" id="search" type="text" placeholder="Search" aria-label="Search">
                <input type="submit" style = "display:none;">
            </div>
        </form>
    </nav>

</header>
<main>
    <!-- Modal: modalCart -->
    <div class="modal fade" id="contact" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Contact us</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">

                    <!-- Name -->
                    <input type="text" id="defaultContactFormName" class="form-control mb-4" placeholder="Name">

                    <!-- Email -->
                    <input type="email" id="defaultContactFormEmail" class="form-control mb-4" placeholder="E-mail">

                    <!-- Subject -->
                    <label>Subject</label>
                    <select class="browser-default custom-select mb-4">
                        <option value="" disabled>Choose option</option>
                        <option value="1" selected>Feedback</option>
                        <option value="2">Report a bug</option>
                        <option value="3">Feature request</option>
                        <option value="4">Feature request</option>
                    </select>

                    <!-- Message -->
                    <div class="form-group">
                        <textarea class="form-control rounded-0" id="exampleFormControlTextarea2" rows="3" placeholder="Message"></textarea>
                    </div>

                    <!-- Copy -->
                    <div class="custom-control custom-checkbox mb-4">
                        <input type="checkbox" class="custom-control-input" id="defaultContactFormCopy">
                        <label class="custom-control-label" for="defaultContactFormCopy">Send me a copy of this message</label>
                    </div>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Send</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: modalCart -->


    <!-- Modal: modalCart -->
    <div class="modal fade" id="modalCart" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
         aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <!--Header-->
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Your cart</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">×</span>
                    </button>
                </div>
                <!--Body-->
                <div class="modal-body">

                    <table class="table table-hover">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Product name</th>
                            <th>Price</th>
                            <th>Remove</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                            <th scope="row">1</th>
                            <td>Product 1</td>
                            <td>100$</td>
                            <td><a><i class="fas fa-times"></i></a></td>
                        </tr>
                        </tbody>
                    </table>

                </div>
                <!--Footer-->
                <div class="modal-footer">
                    <button type="button" class="btn btn-outline-primary" data-dismiss="modal">Close</button>
                    <button class="btn btn-primary">Checkout</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal: modalCart -->


    <!--Carousel Wrapper-->
    <div id="carousel-example-2" class="carousel slide carousel-fade z-depth-1-half" data-ride="carousel" style="margin-bottom:50px;margin-top: -85px">
        <!--Indicators-->
        <ol class="carousel-indicators">
            <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example-2" data-slide-to="1"></li>
            <li data-target="#carousel-example-2" data-slide-to="2"></li>
        </ol>
        <!--/.Indicators-->
        <!--Slides-->
        <div class="carousel-inner" role="listbox">
            <div class="carousel-item active">
                <div class="view">
                    <img class="d-block w-100" src="https://i.ibb.co/PhtJCQp/cyberpunk3.jpg" alt="First slide">
                    <div class="mask rgba-black-light"></div>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="/img/cyberpunk2.jpg" alt="Second slide">
                    <div class="mask rgba-black-light"></div>
                </div>
            </div>
            <div class="carousel-item">
                <!--Mask color-->
                <div class="view">
                    <img class="d-block w-100" src="/img/cyberpunk.jpg" alt="Third slide">
                    <div class="mask rgba-black-light"></div>
                </div>
            </div>
        </div>
        <!--/.Slides-->
        <!--Controls-->
        <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>
        <!--/.Controls-->
    </div>
    <!--/.Carousel Wrapper-->
    <div class="container">
        <h1>Click the filter icon <small>(<i class="glyphicon glyphicon-filter"></i>)</small></h1>
        <div class="row">
            <div class="col-md-6">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Developers</h3>
                        <div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" id="dev-table-filter" data-action="filter" data-filters="#dev-table" placeholder="Filter Developers" />
                    </div>
                    <table class="table table-hover" id="dev-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>SPECS</th>

                        </tr>
                        </thead>
                        <tbody>
                        <%sysreqss.forEach(function(write){ %>
                            <% for (var key in write) {%>
                            <%if (key ==='_id' || key === 'name'){%>
                            <%continue;%>
                            <%}%>
                        <tr>
                            <td><%=key;%></td>
                            <td><%=write[key];%></td>

                        </tr>
                        <% } %>
                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-md-6">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h3 class="panel-title">Tasks</h3>
                        <div class="pull-right">
							<span class="clickable filter" data-toggle="tooltip" title="Toggle table filter" data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>
                        </div>
                    </div>
                    <div class="panel-body">
                        <input type="text" class="form-control" id="task-table-filter" data-action="filter" data-filters="#task-table" placeholder="Filter Tasks" />
                    </div>
                    <table class="table table-hover" id="task-table">
                        <thead>
                        <tr>
                            <th>#</th>
                            <th>Mart</th>
                            <th>Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <%writes.forEach(function(write){ %>
                        <tr>
                            <td>1</td>
                            <td><a href="<%=write.href;%>"><%=write.mart;%></a></td>
                            <td><%=write.price;%></td>
                        </tr>

                        <% }); %>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="embed-responsive embed-responsive-16by9">
        <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/LembwKDo1Dk" allowfullscreen></iframe>
    </div>




    <div class="container">
        <h1>Click the filter icon <small>(<i class="glyphicon glyphicon-filter"></i>)</small></h1>
        <div class="row">
            <div class="col-md-6">
                <div class="blog-card blog-card-blog animated fadeInUp wow">
                    <div class="blog-card-image">
                        <a href="#"> <img class="img" src="https://picsum.photos/id/1084/536/354?grayscale"> </a>
                        <div class="ripple-cont"></div>
                    </div>
                    <div class="blog-table">
                        <h6 class="blog-category blog-text-success"><i class="far fa-newspaper"></i> News</h6>
                        <h4 class="blog-card-caption">
                            <a href="#">Lorem Ipsum is simply dummy text of the printing and</a>
                        </h4>
                        <p class="blog-card-description">
                            Cyberpunk 77 - это игра от CD Project RED, причем отошедшая от мира фэнтези и средневековья к будущему и киберпанковскому сеттингу. События игры разворачиваются в мире настольной RPG Cyberpunk 2020, однако временные рамки сдвинуты к 2077 году. В центре внимания - протагонист с лаконичным именем Ви, который занимается различной деятельностью на грани закона, хотя в Найт-Сити закон давно существует лишь на бумаге.

                            Игрокам доступно огромное количество уникального оружия, различных технических гаджетов, а также умений на все случаи жизни. Из оригинальной настольной игры Cyberpunk 2077 позаимствовала и концепцию классов персонажей, правда, перенесены из оригинальной настолки оказались далеко не все классы. Игра также предлагает игрокам определиться со своей историей происхождения, которая влияет на различные события, наличие или отсутствие определенных NPC - словом, все как в настольной игре Cyberpunk 2020</p>
                        <div class="ftr">
                            <div class="author">
                                <a href="#"> <img src="https://picsum.photos/id/1005/5760/3840" alt="..." class="avatar img-raised"> <span>Lorem</span> </a>
                            </div>
                            <div class="stats"> <i class="far fa-clock"></i> 10 min </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <!-- Card -->
                <div class="card card-image animated fadeInUp wow"
                     style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg); margin-bottom: 20px">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
                            <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
                            <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                                Odit sed qui, dolorum!.</p>
                            <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a>
                        </div>
                    </div>

                </div>
                <!-- Card -->

                <!-- Card -->
                <div class="card card-image animated fadeInUp wow"
                     style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg); margin-bottom: 20px">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
                            <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                                Odit sed qui, dolorum!.</p>
                            <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a>
                        </div>
                    </div>

                </div>
                <!-- Card -->


                <!-- Card -->
                <div class="card card-image animated fadeInUp wow"
                     style="background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Work/4-col/img%20%2814%29.jpg); margin-bottom: 20px">

                    <!-- Content -->
                    <div class="text-white text-center d-flex align-items-center rgba-black-strong py-5 px-4">
                        <div>
                            <h5 class="pink-text"><i class="fas fa-chart-pie"></i> Marketing</h5>
                            <h3 class="card-title pt-2"><strong>This is the card title</strong></h3>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Repellat fugiat, laboriosam, voluptatem,
                                optio vero odio nam sit officia accusamus minus error nisi architecto nulla ipsum dignissimos.
                                Odit sed qui, dolorum!.</p>
                            <a class="btn btn-pink"><i class="fas fa-clone left"></i> View project</a>
                        </div>
                    </div>

                </div>
                <!-- Card -->
            </div>
        </div>
    </div>


</main>

</body>
<footer class="page-footer font-small  rgba-black-strong pt-4" >

    <!-- Footer Elements -->
    <div class="container">

        <!-- Social buttons -->
        <ul class="list-unstyled list-inline text-center">
            <li class="list-inline-item">
                <button type="button" class="btn btn-vk"><i class="fab fa-vk pr-1"></i> Vkontakte</button>

            </li>
            <li class="list-inline-item">
                <button type="button" class="btn btn-yt"><i class="fab fa-youtube pr-1"></i> Youtube</button>
            </li>
            <li class="list-inline-item">
                <button type="button" class="btn btn-git"><i class="fab fa-github pr-1"></i> Github</button>

            </li>
            <li class="list-inline-item">
                <button type="button" class="btn btn-tw"><i class="fab fa-twitter pr-1"></i> Twitter</button>
            </li>
            <li class="list-inline-item">
                <button type="button" class="btn btn-ins"><i class="fab fa-instagram pr-1"></i> Instagram</button>
            </li>
        </ul>
        <!-- Social buttons -->

    </div>
    <!-- Footer Elements -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
        <a href="https://mdbootstrap.com/education/bootstrap/"> MDBootstrap.com</a>
    </div>
    <!-- Copyright -->

</footer>
<!-- Footer -->
</body>

</body>
</html>

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="js/jquery-3.4.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
<script type="text/javascript" src="js/gallery.js"></script>
<script type="text/javascript" src="js/table.js"></script>
</html>
